<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>

        <!-- TITLE OF SITE -->
        <title> Best Finance</title>


        <meta charset="utf-8">
        <meta name="description" content="Responsive Event Landing Page for Presenting Your Mobile App Which is Designed Based on Twitter Bootstrap 3.2" />
        <meta name="keywords" content="eventer, parallax, one page, responsive, app landing, html template, mobile application" />
        <meta name="author" content="Santush Deb Nath, deviserweb">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <title>Index</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.8/js/tether.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.8/css/tether.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="{{asset('public/main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

        <!--   FAV AND TOUCH ICONS   -->
        


        <!-- GOOGLE FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="{{asset('public/bootstrap/css/bootstrap.min.css')}}">

        <!-- FONT ICONS -->
	    <link rel="stylesheet" href="{{asset('public/css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{asset('public/all-file/css/elegant_icon.css')}}"

        <!-- PRELOADER -->
        <link rel="stylesheet" href="{{asset('public/css/preloader.css')}}">

        <!-- CAROUSEL SLIDERS -->
        <link rel="stylesheet" href="{{asset('public/css/owl.carousel.css')}}">
        <link rel="stylesheet" href="{{asset('public/css/owl.theme.css')}}">
        <link rel="stylesheet" href="{{asset('public/css/owl.transitions.css')}}">

        <!--  CSS3 ANIMATE CSS  -->
        <link rel="stylesheet" href="{{asset('public/css/animate.css')}}">

        <!--  DROPDOWN CSS  -->
        <link rel="stylesheet" href="{{asset('public/css/fancySelect.css')}}" />

        <!-- IMAGE HOVER EFFECT  -->
        <link rel="stylesheet" href="{{asset('public/css/hover-effect-animate.css')}}" />
        <link rel="stylesheet" href="{{asset('public/css/hover-effect.css')}}" />
        <!--   COUSTOM CSS link  -->
        <link rel="stylesheet" href="{{asset('public/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('public/css/responsive.css')}}">
        <!-- COLOR SCHEME -->
        <link rel="stylesheet" href="{{asset('public/css/colors/red.css')}}" type="text/css" id="theme-link" />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    </head>
    <body>

        <!-- PRELOADER -->
        <div class="spinner-wrapper">
            <div class="bubblingG">
                <span id="bubblingG_1"></span>
                <span id="bubblingG_2"></span>
                <span id="bubblingG_3"></span>
            </div>
        </div>
         <!-- /END PRELOADER -->
         

        <header class="header-background header" id="header" data-stellar-background-ratio="0.5"
        style="background: url({{asset('public/all-file/images/bg-1.jpg')}}) top center fixed; "> <!--Start: "Header Area"-->
            <div class="fix header-overlay overlay-color">

                <!-- Start: Navbar Area  -->
                <div class="header-navbar navbar-fixed-top" id="header-navbar">
                    <nav class="navbar navbar-inverse">
                        <div id="quimera-nav" class="container">
                            <div class="navbar-header">

                                <!-- Show in Mobile -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar icon-close-1"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar icon-close-2"></span> 
                                </button>

                                <!-- Your Icon Goes Here -->
                                <a class="navbar-brand" href="index.html">
                                    <img id="quimera" src="{{asset('public/logo/quimera.png')}}" class="img-responsive " alt="">
                                </a> 

                            </div>

                            <!-- Show in Dexktop -->
                            <button type="button" class="navbar-toggle navbar-cus hidden-xs " id="navbar-cus">
                                <span class="lines"></span>
                            </button>

                            <!-- Navbar Option -->
                            <div id="myNavbar">
                                <ul id="navbar-nav" class="myNavbarUl nav navbar-nav navbar-right slideOutRight">
                                    <li><a href="#header">Home</a></li>
                                    <li><a href="#section-1">Configurador</a></li>
                                    <li><a href="#section-2">Servicios</a></li>
                                    <li><a href="#section-3">Ayuda</a></li>
                                    <li><a href="#section-11">Contacto</a></li> 
                                </ul>
                            </div>
                        </div> <!-- End: container  -->
                    </nav> <!-- End: navbar navbar-inverse  -->
                </div>
                <!-- End: Navbar Area  -->
                
	            <div class="container">
                    <div class="row header-body" id="header-body">

                    	<div class="col-md-5 heading wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s">
                    		<h1 id="texto"><b>LA PASIÓN <br> CONSTRUYE NEGOCIOS. </b><br>EL MIEDO NO.</h1>

                            <p class="text-justify">"Necesitamos un nuevo sistema comercial innovador con un balance limpio y la capacidad de ampliar los préstamos rápidamente a los fabricantes, exportadores y empresas de alto crecimiento que alimentan nuestra economía. Hoy puedo anunciar que tendremos uno.."<br>
                            - <strong>Iván Aquino Soriano</strong></p>

                            <!-- Start: Button area -->
                          
                            <!-- End: Button area" -->

                    	</div>

                    	<div class="col-md-offset-1 col-md-6 pera wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s">
                    		
                            <h1 id="title" class="text-center">Best Finance! </h1>
                            <img id="quimera-img" class="text-center center-block img-responsive" src="{{asset('public/logo/logo.png')}}" alt="">

                    	</div><!-- End: col-md-5 pera  -->


                    </div><!-- End: header-body  -->
                </div> <!-- End: container  -->


            </div> <!-- End: fix header-overlay overlay-color  -->
        </header> <!--End: Header Area-->

        
        <section class=" about-our-event" id="section-1"><!-- Start: about-our-event, "SECTION-1" -->
        	<div class="container">

                <!-- Start: About Our Event Area  -->
                <div class="row about-our-event-body">
                    
                    <!-- Start: About-Our-Event Left Area  -->
        			<div class="about-our-event-left col-md-8 wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="about-our-event-left-body">
            				<h2 class="text-center">Prestamos Rapidos y Faciles!</h2>
            				<h3><p>COFIGURADOR ...</p></h3>
                        </div>
        			</div>
                    <!-- End: About-Our-Event Left Area  -->
                    
                    <!-- Start: About-Our-Event Right Area  -->
        			<div class="about-our-event-right col-md-offset-1 col-md-3   wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="container-fluid">
                            <div class="row about-our-event-right-body">
        		        		<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 background time">
                                <h2 class="tramita">Tramita tu prestamo facil!</h2>
                                        <span class="title text-justify">Utiliza nuestro configurador de prestamos y realiza el ejercicio de forma totalmente transparente, nosotros respetamos los parametros que arroje el configurador.</span>
        						</div>
                            </div>
                        </div>
        			</div>
                    <!-- End: About-Our-Event Right Area  -->
        		</div>
                <!-- End: About Our Event Area  -->
                

                <!-- Start: About-Our-Event Overlay background Area  -->
                <div class="about-background-image">

                    <!-- About-Our-Event Overlay background Left Area  -->
                    <div class="background-left col-sm-12 col-md-8"></div>

                    <!-- About-Our-Event Overlay background Right Area  -->
                    <div class="bg-img-3 background-right col-sm-12 col-md-4">
                        <div class="background-right-overlay-color"></div>
                    </div>

                </div> <!--  about-background-image  -->

            </div> <!-- End: container -->
        </section> <!-- End: about-our-event, "SECTION-1" -->

        <section class="our-featured-speaker" id="section-2">
        	<div class="container">

                <div class="row our-featured-speaker-body">
                   

                    <!-- Start: Our Featured Speaker Right -->
    				<div class="our-featured-speaker-right col-md-12 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                     <h2 class="text-center"> Nuestros servicios</h2>
                     <br>
    				</div>
                    <div class="col-md-12 col-md-offset-1">

                        <div class="col-md-3 servicios">
                            <img class="servicios-img center-block img-responsive" src="{{asset('public/logo/serv.png')}}" alt="">
                            <p class="texto-grande text-center"> Prestamos al consumo </p>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora ut quasi explicabo doloremque dolor voluptas pariatur delectus obcaecati odit, est excepturi ea magnam quis commodi odio tempore, quia quam vero.</p>
                        </div>
                        <div class="col-md-3 servicios">
                            <img class="servicios-img center-block img-responsive" src="{{asset('public/logo/serv.png')}}" alt="">
                            <p class="texto-grande text-center"> Prestamos personales</p>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ipsam provident eveniet dolorum. Amet voluptas cum dolore tempore impedit repellendus cupiditate. Voluptate repudiandae sint quos ducimus, enim deserunt facere ullam.</p>
                        </div>
                        <div class="col-md-3 servicios">
                            <img class="servicios-img center-block img-responsive" src="{{asset('public/logo/serv.png')}}" alt="">
                            <p class="texto-grande text-center"> Prestamos hipotecarios</p>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sequi aperiam, dicta quos aut nulla corrupti earum, ipsa praesentium, vero asperiores! Doloremque minima amet laudantium est ut rem debitis saepe.</p>
                        </div>
                    </div>

                  
                </div>

        	 </div>
        </section> 



        <section class="scedule-background scedule" id="section-3"> <!-- Start: our-featured-speaker, "SECTION-3" -->
        	<div class="fix overlay-color"> <!-- Start: Overlay color  -->
                <div class="container">
                    <div class="row scedule-body">

                        <div role="tabpanel">

                       
                            <div class="clearfix visible-xs visible-sm"></div>

                        <h1 class="ayuda"><b>Ayuda</h1>
                        <div class="col-md-12">
                            <p class="texto-grande">Preguntas frecuentes</p>
                            <ul class="preguntas">
                                <li>1.¿Como obtener un prestamo? <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum laborum fugiat molestias et debitis, suscipit nulla voluptas aut ducimus pariatur excepturi ullam culpa vero eius quis quia nihil eligendi repudiandae.</p></li>
                                <li>2.¿Pregunta sobre servicio? <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati earum, voluptatibus ad optio quo similique cupiditate reprehenderit ex deserunt nobis iure doloremque necessitatibus, laudantium qui officia consectetur enim, sed tempora?</p></li>
                                <li>3.¿Quien puede aplicar a los prestamos? <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptas quibusdam excepturi quas et sunt dolor necessitatibus recusandae nisi, illo, ex sequi explicabo magnam quo modi tempora cumque voluptatum temporibus.</p></li>
                                <li>4.¿Quien responde a mi solicitud? <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dignissimos consectetur sequi accusamus. Quae, error, hic. Quibusdam assumenda beatae minus optio atque, illo quod, qui officiis, similique ipsum, fugiat labore.</p></li>
                            </ul>
                        </div>

                    </div><!-- End: our-futured-speaker-body   -->
                </div> <!-- End: container   -->
            </div> <!-- End: Overlay color   -->
        </section> <!-- End: our-featured-speaker, "SECTION-3" -->



   


 


  

    

        <section class="contact-us" id="section-11"> <!-- Start: Contact Us Area, "#SECTION-11" -->
        	<div class="container">
                <div class="row contact-us-body">

        			<div class="contact-us-left col-md-4 wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s">

        				<h2>Contacto!</h2>
        				<p><span class="bold">Direccion:</span> Eventer, one caspian point, pierhead street cardiff waterside, cf10 4dq</p>
        				<p><span class="bold">Contacto: </span><a href="callto:+8801777272322">+880 177 727 2322</a></p>
        				<p><span class="bold">Correo: </span><a href="mailto:as@deviserweb.com">as@deviserweb.com</a></p>
        				
                        <!-- Social Icon Goes Here  -->
                        <div class="social-icon">
        					<p><span class="bold">Encuentranos en</span></p>
        					<ul class="nav navbar-left">
        						<li><a href="#"> <i class="fa facebook fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa twitter fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa youtube fa-youtube"></i> </a></li>
                                <li><a href="#"> <i class="fa skype fa-skype"></i> </a></li>
                                <li><a href="#"> <i class="fa rss fa-rss "></i> </a></li>
        					</ul>
        				</div>

        			</div> <!-- End: .contact-us-left .col-md-4  -->
        			
					<!-- Start: Google Map Area, "Part-1-Up" "map" -->
        			<div class="contact-us-right col-md-offset-1 col-md-7 wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="row">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.4142398800327!2d-99.17658868509392!3d19.394499986905966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff7194b4882b%3A0xf6a4fe1dff24335c!2sWorld+Trade+Center+Cdad.+de+M%C3%A9xico%2C+N%C3%A1poles%2C+03810+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1480910133000" width="650" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
        			</div>
        			<!-- End: Google Map Area, "map" -->

                </div> <!-- End: .row .contact-us-body  -->
        	</div> <!--  End: .container  -->
        </section> <!-- End: Contact Us Area, "#SECTION-11" -->



        <footer  class="footer"> <!-- Start: Footer Area  -->
        	<div class="container">
        		<div class="row footer-body btn-scroll">
                    
                    <!-- Your Icon Goes Here  -->
					<div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a href="#" ><img src="{{asset('public/logo/quimera.png')}}" style="width:50px" alt="" class="img-responsive"></a>
					</div>
                    
                    <!--  Scroll Top  -->
					<div class="top-buttom col-lg-6 col-md-6 col-sm-6 col-xs-6">
						 <a href="#header" class="btn-standard btn btn-top"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
					</div>

        		</div><!-- End: .row .footer-body .btn-scroll  -->
        	</div> <!-- End: .container  -->
        </footer> <!-- End: Footer Area  -->


        <!-- SCRIPTS -->
        <script src="{{asset('public/all-file/js/jquery.1.9.1.min.js')}}"></script>      
        <script src="{{asset('public/all-file/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('public/all-file/js/jquery.stellar.min.js')}}"></script>
        <script src="{{asset('public/all-file/js/jquery.scrollTo.min.js')}}"></script>
        <script src="{{asset('public/all-file/js/jquery.localScroll.min.js')}}"></script>
        <script src="{{asset('public/all-file/js/owl.carousel.min.js')}}"></script>  
        <script src="{{asset('public/all-file/js/jquery.nav.js')}}"></script>    
        <script src="{{asset('public/all-file/js/wow.min.js')}}"></script>               
        <script src="{{asset('public/all-file/js/jquery.nicescroll.min.js')}}"></script>
        <script src="{{asset('public/all-file/js/matchMedia.js')}}"></script>
        <script src="{{asset('public/all-file/js/navbar.matchMedia.js')}}"></script>
        <script src="{{asset('public/all-file/js/jquery.ajaxchimp.min.js')}}"></script>
        <script src="{{asset('public/all-file/js/jquery.countdown.js')}}"></script>
        <script src="{{asset('public/all-file/js/fancySelect.js')}}"></script>
        <script src="{{asset('public/all-file/js/smoothscroll.js')}}"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        
        <script src="{{asset('public/all-file/js/navbar-custom.js')}}"></script> 
        <script src="{{asset('public/all-file/js/custom-scripts.js')}}"></script> 




        <!-- CUSTOMIZER :: FOR DEMO ONLY 
        ==========================================-->
        <script src="{{asset('public/demo-style/js/main.js')}}"></script>


    
    </body>

</html>